.button{
    -fx-background-color: #677feb;
}
.button:hover{
    -fx-background-color: #764ba3;
}

.button:pressed{
    -fx-background-color: #677feb;

}

.user-message {
    -fx-background-color: #677feb;
    -fx-background-radius: 10px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-max-width: 450px;
    -fx-alignment: center-right;
    -fx-text-fill: white;
}

.other-message {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-max-width: 450px;
    -fx-background-radius: 5px;
}